<div class="alert alert-primary" role="alert">
  <h3>Map</h3>
</div>
<div id="map" style="width: 100％; height: 400px;"></div>

<div class="container">
  <ul class="row">
    <% @spot.each do |spot| %>
    <li class="col-md-4">
      <p><%= spot.spot_name %></p>

      <p><%= spot.address %></p>

      <p><%= spot.spot_infomation %></p>

      <p class="picture_content"><%= image_tag spot.spot_photo.url %></p>

      <p><%= link_to '詳細を表示する', spot_path(spot.id) %></p>

      <p>投稿者：<%= spot.user.name %></p>

      <% unless spot.spot_tag.nil? %>
      <!-- 配列として格納されているspot_tagの"を削除して表示 -->
      <p><%= spot.spot_tag.gsub(/"/, '') %></p>
      <% end %>
    </li>
    <% end %>
  </div>
</div>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>