<h2>Map</h2>

<div class="marker" id="maps" style="width: 100％; height: 400px;"></div>

<!-- Map表示用のjavascript読み込み -->
<%= javascript_include_tag 'map_index' %>

<article id="map">
  <div class="spot_search">
    <a>スポット絞り込み：<%= @tag.gsub(/"/, '') if @tag %></a>
    <%= form_with(model: @spot, url: spots_path, method: :get, local: true) do |form| %>
      <% %w(休憩 グルメ コンビニ お手洗い 自動販売機 全表示).each.with_index do |tag, i| %>
      <label>
        <%= form.radio_button :spot_tag, tag %>
        <%= tag %>
      </label>
      <% end %>
    <br>
    <a>地図絞り込み(Mapに表示させる場所を指定)：<%= @map_narrowing_down_location if @map_narrowing_down_location %></a><br>
　    <!-- 前に入力した値があれば検索フォームに入力する -->
      <% if @map_narrowing_down_location %>
        <%= form.text_field :map_narrowing_down, value: @map_narrowing_down_location %>
      <% else %>
        <%= form.text_field :map_narrowing_down %>
      <% end %>
　    <%= submit_tag "絞り込み", class: "btn btn-success" %>
    <% end %>
  </div>
</article>

<p><%= link_to "R!DE ON!について", about_index_path, class: "btn btn-info" %><p>

<article id="index">
  <div class="container">
    <div class="row">
      <section class="spots col-md-8">
        <h2>最近の投稿</h2>
        <div class="row">
          <% @spot.order(created_at: "DESC").first(4).each do |spot| %>
          <div class="content col-md-6">
            <h3><%= spot.spot_name %></h3>
            <p><%= link_to image_tag(spot.spot_photo.url), spot_path(spot.id) %></p>
            <p>住所：<%= spot.address %></p>
            <p>スポット情報：<%= spot.spot_infomation %></p>
            <p>投稿者：<%= spot.user.name %></p>
            <!-- 配列として格納されているspot_tagの"を削除して表示 -->
            <p>タグ：<%= spot.spot_tag.gsub(/"/, '') if spot.spot_tag %></p>
          </div>
          <% end %>
        </div>
      </section>

      <section class="spots col-md-4">
        <div>
          <h2 class="clearfix">いいね Top3</h2>
          <!-- ランキング用カウント変数を作成 -->
          <% runking = 1 %>
          <% @spot.order(like: "DESC").first(3).each do |spot| %>
            <p class="like_number">いいね数 No.<%= runking %> [いいね数：<%= spot.like %>]</p>
          <div class="content">
            <h3><%= spot.spot_name %></h3>
            <p><%= link_to image_tag(spot.spot_photo.url), spot_path(spot.id) %></p>
            <p>住所：<%= spot.address %></p>
            <p>スポット情報：<%= spot.spot_infomation %></p>
            <p>投稿者：<%= spot.user.name %></p>
            <!-- 配列として格納されているspot_tagの"を削除して表示 -->
            <p>タグ：<%= spot.spot_tag.gsub(/"/, '') if spot.spot_tag %></p>
          </div>
          <!-- ランキング用カウントに+1 -->
          <% runking += 1%>
          <% end %>
        </div>
      </section>
      <div id="page_top"><a href="#"></a>
    </div>
  </div>
</article>
