<h2>オススメのスポットを共有しよう！</h2>

<%= form_with(model: @spot, local: true) do |form| %>
  <% if @spot.errors.any? %>
    <div id="error_explanation">
      <h2 class="alert alert-danger"><%= @spot.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @spot.errors.full_messages.each do |msg| %>
        <li class="alert alert-danger"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<div class="new_image">
  <%= image_tag("Bicycle_trale.jpg") %>
</div>

<section id="new">
　<h2>スポットを登録する</h2>
  <div class="spot_form" >
  <%= form_with(model: @spot, local: true) do |form| %>
    <dl>
      <dt><span class="required"><%= form.label :スポット名 %></span></dt>
      <dd><%= form.text_field :spot_name, class: "new_form" %></dd>

      <dt><span class="either"><%= form.label :住所 %></span></dt>※位置情報(EXIF情報)つきのjpeg画像をアップロードする場合は不要
      <dd><%= form.text_field :address, class: "new_form" %></dd>

      <dt><span class="required"><%= form.label :写真 %></span></dt>
      <div class="imagePreview"></div>
      <dd><%= form.file_field :spot_photo %></dd>

      <dt><span class="required"><%= form.label :スポット詳細 %></span></dt>
      <dd><%= form.text_area :spot_infomation, class: "new_text_area_form" %></dd>

      <dt><%= form.label :スポット分類 %></dt>
      <dd>
      <% %w(休憩 グルメ コンビニ お手洗い 自動販売機).each.with_index do |tag, i| %>
        <label>
          <%= form.check_box :spot_tag, { multiple: true }, tag, nil %>
          <%= tag %>
        </label>
        <% end %>
      </dd>
    <dl>
    <%= form.submit "登録する", class: "btn btn-primary" %>
  <% end %>
  </div>
</section>

<section id="new">
  <h2>使い方</h2>
  <div class="spot_form">
    <p>①オススメのスポットの名称・住所・写真・おすすめポイントなどなどを共有してください！<br>
       ②「<span class="required"></span>」の付いている項目は<strong>必須項目</strong>です。<br>
       ③スポットの場所は、<br>
      　 ・位置情報(EXIF情報)つきのjpeg画像を投稿<br>
          もしくは、<br>
      　 ・住所を入力する<br>
       ことで自動でマップに表示することができます<br>
        (「<span class="either"></span>」の付いている項目)<br>
        ※スマホで撮影した画像を投稿し位置が自動取得されない場合は、<br>
        編集で住所を手入力してください。</p>
  </div>
</section>
