<article id="detail">

  <h2 class="clearfix"><%= @spot.spot_name %></h2>

  <div class="content">
    <p class="picture_content"><%= image_tag @spot.spot_photo.url %></p>
    
    <p>
      <strong>住所:</strong>
      <%= @spot.address %>
    </p>
    
    <div id="map" style="width: 100％; height: 400px;"></div>

    <p>
      <strong>スポット情報:</strong>
      <%= @spot.spot_infomation %>
    </p>
    
    <p>
      <strong>スポットタグ：</strong>
      <!-- 配列として格納されているspot_tagの"を削除して表示 -->
      <%= @spot.spot_tag.gsub(/"/, '') if @spot.spot_tag %>
    </p>

    <!-- ログイン時のみ表示 -->
    <% if current_user %>
      <% unless @spot.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'お気に入りする', favorites_path(spot_id: @spot.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    <% end %>

    <div id="like-button">
      <%= link_to "いいね！", likes_spot_path(@spot.id) %>
      <%= @spot.like %>
    </div>
    
　  <p><strong>コメント:</strong></p>

    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, spot: @spot } %>
    </div>

    <div class="detail_btn">
      <%= render partial: 'comments/form', locals: { comment: @comment, spot: @spot } %>
      <!-- 編集・削除ボタンは作成者のみ表示 -->
      <% if current_user %>
        <% if @spot.user_id == current_user.id %>
          <%= link_to "投稿を編集する", edit_spot_path(@spot.id), class: "btn btn-primary" %>
          <%= link_to "投稿を削除する", spot_path(@spot.id), method: :delete, data: { confirm: "一度削除すると元には戻せません。本当に削除してもいいですか？" }, class: "btn btn-danger" %>
        </div>
      <% end %>
    <% end %>
  </div>

</article>
