<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <section id="welcome">
    <h2>R!DO ON!へようこそ！</h2>
    <div class="new_image">
      <%= image_tag("Bicycle_nature.jpg") %>
      <p><br>R!DE ONは自転車を楽しむ人のために、<br>
         サイクリングコースの情報共有するサイトです。</p>
      <p>あなたが今まで行って良かった場所や、<br>
         便利な休憩スポットなどをぜひ共有してみてください。</p>
      <p><%= link_to "R!DE ON!について", about_index_path, class: "btn btn-info" %><p>
    </div>
  </section>

  <section id="welcome">
    <h2>新規ユーザ登録</h2>
    <div class="form">
      <dl>
        <dt><span class="required"><%= f.label :name %><bt /></dt>
        <%= f.text_field :name, class: "new_form" , autofocus: true, autocomplete: "name" %></dd>
      </dl>

      <dl>
        <dt><span class="required"><%= f.label :email %></span></dt>
        <dd><%= f.email_field :email, class: "new_form" , autofocus: true, autocomplete: "email" %></dd>
      </dl>

      <dl>
        <dt><%= f.label :icon %><bt /></span></dt>
        <dd><%= f.file_field :icon, autofocus: true, autocomplete: "icon" %></dd>
      </dl>

      <dl>
        <dt><span class="required"><%= f.label :password %></span></dt>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <dd><%= f.password_field :password, class: "new_form" , autocomplete: "new-password" %></dd>
      </dl>

      <dl>
        <dt><span class="required"><%= f.label :password_confirmation %></span></dt>
        <dd><%= f.password_field :password_confirmation, class: "new_form" , autocomplete: "new-password" %></dd>
      </dl>

      <div class="attention">
        <p>※「<span class="required"></span>」の付いている項目は必須項目です。</p>
      </div>
  
    <div class="actions">
      <%= f.submit "上記内容で新規登録する", class: "btn btn-primary"  %>
    </div>
  <% end %>
  </div>
</section>
