<%= form_with(model: [spot, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>
  <div class="field">
    <%= form.text_area :content, class: "form-control", type: "text", placeholder: "コメント" %>
  </div>
  <div class="actions">
    <%= form.submit "コメントを投稿する", class: "btn btn-success" %>
  <% else %>
    <%= form.text_area :content, class: "form-control", type: "text", placeholder: "コメントはログインしているユーザのみ可能です", readonly: "true" %>
    <br>
  <% end %>
  </div>
<% end %>
