<%= form_with(model: [spot, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :content, class: "form-control", type: "text", placeholder: "コメント" %>
  </div>

  <div class="actions">
  <% if current_user %>
    <%= form.submit "コメントを投稿する", class: "btn btn-success" %>
  <% end %>
  <a>※コメントはログインしているユーザのみ可能です</a>
  </div>
<% end %>
