<h2>パスワードを忘れた方はこちら</h2>
<p>パスワードを忘れた方はリセット方法を送付しますので、以下に登録に利用したメールアドレスを入力してください</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードリセット方法を送る" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
