<!DOCTYPE html>
<html>
  <head>
    <title>RIDEOn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//maps.google.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API_KEY"]%>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
  </head>

  <body>

    <!-- header始まり -->
    <header>
      <div class="logo">
        <%= link_to "R!DE ON!", spots_path %>
      </div>
      <nav>
        <% if user_signed_in? %>
        <ul class="global-nav">
          <li><%= link_to "新規投稿", new_spot_path %></li>
          <li><%= link_to "プロフィール", user_path(current_user.id) %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
        </ul>
      </nav>
    </header>
    <!-- header終わり -->

    <!-- 通知始まり -->
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <!-- 通知終わり -->

    <%= yield %>

    <!-- footer始まり -->
    <footer>
      <small>(C)2018 R!DE ON!</small>
    </footer>
    <!-- footer終わり -->

  </body>
</html>
